@font-face {
    font-family: "az";
    src: url("") format("opentype");
    }
.scrollable-element {
    scrollbar-width: none;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    cursor: url("cursor.png"), default;
}


body {
    height: 100vh;
    background-color: #212226;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
    width: 100%;
    background: #212226;
    box-shadow: 6px 12px 15px rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
}

.bar{
    position: relative;
    z-index: 2;
}

.nav-bar{
    min-height: 93px;
    flex-basis: 10%;
    /*background: magenta;*/
    display: flex;
    border-bottom: 1.5px solid rgba(144,144,144,0.2);
}

.logo{
    flex-basis: 50%;
    /*background: cyan;*/
    display: flex;
    align-items: left;
}

.logo img{
    font-size: 55px;
    margin-left: 30px;
    color: #aaabad;
    transition: background-color, 1000ms;
}

.logo img:hover{
    background-color: rgba(14,41,62,255);
    transition: background-color, 1000ms;
    transform:scale(1.05);
}

.nav-items{
    flex-basis: 50%;
    /*background: pink;*/
}

.nav-items ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-items ul li{
    list-style: none;
    /*background: yellow;*/
}

.nav-items ul li a{
    text-decoration: none;
    color: #aaabad;
    /*background: red;*/
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-items ul li a:hover{
    color:white;
    font-size: 13px;
    transition: 0.3s;
}

.content{
    display: flex;
    flex-basis: 80%;
    /*background: lightcoral;*/
}

.content-text{
    flex-basis: 40%;
    /*background: lightblue;*/
    margin: auto 0px;
    text-align: center;
}

.content-text h1{
    letter-spacing: 1.5px;
    line-height: 50px;
    color: white;
}

.content-text span{
    font-size: 12px;
    color: rgba(247, 123, 0);
    cursor: pointer;
    display: inline-block;
    margin-top: 25px;
}

.content-text span i{
    font-size: 8px;
    margin-left: 3px;
}

.content-image{
    display: flex;
    flex-basis: 60%;
    /*background: lightgreen;*/
    justify-content: center;
    align-items: center;
}

.content-image img{
    box-shadow: 6px 12px 20px rgba(14, 41, 62, 0.5);
}

.under-construction{
    color: rgb(255, 255, 255);
    background-image: repeating-linear-gradient( #000000 0%, yellow 100%);
    padding: 5px;
}

.content-text-about{
    width: 50%;
    flex-basis: 40%;
    /*background: lightblue;*/
    margin: 0px;
    /*text-align: center; */
    text-decoration: none;
    color: white;
    list-style: none;
}

.content-text-about h1{
    text-align: center;
    vertical-align: text-top;
    letter-spacing: 1.5px;
    line-height: 50px;
    
}

.content-text-about h2{
    text-align: center;
    margin-top: 30px;
}
.content-text-about li p{
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #aaabad;
    /*background: red;*/
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}

.content-details{
    margin-top: 0px;
    position: fixed;
    width: 50%;
    height:100%;
    right: 0px;
    
}

.holder{
    vertical-align: baseline;
    text-align: center;
    color: #afafaf;
    display:none;
    margin-top: px;
    position: fixed;
    width: 50%;
    height:100%;
    right: 0px;
    background-color:rgba(144,144,144,0.2) ;
    line-height: 30px;
    
}

.holder img{
    width: 5cm;
    height: auto;
}
.vl {
    border-left: 6px solid white;
    height: 1000cm;
    position: absolute;
    left: 0%;
    margin-left: -3px;
    top: 0;
  }


.footer{
    min-height: 93px;
    display: flex;
    flex-basis: 10%;
    /*background: lightsalmon;*/
}

.social-media{
    flex-basis: 65%;
    /*background: lightsalmon;*/
}

.social-media ul{
    display: flex;
    margin-left: 30px;
}

.social-media ul li{
    list-style: none;
    cursor: pointer;
    margin: 0px 20px;
}

.social-media ul li a{
    text-decoration: none;
    color: #aaabad;
}

.social-media ul li a:hover{
    color: white;
    transition: 0.3s;
}

.icon{
    display: flex;
    flex-basis: 35%;
    opacity: 0.5;
    /*background: tomato;*/
}

.icon i{
    margin: 0px 10px;
    cursor: pointer;
}


.blackIcon{
    color: #445963;
}

.redIcon{
    color: #ff0000;
}

.blueIcon{
    color: #3687d3;
}

.side-bar{
    height: 100%;
    width: 100%;
    background: rgba(58, 65, 81, 0.2);
    backdrop-filter: blur(5px);
    position: absolute;
    right: 0px;
    top: 0px;
    clip-path: circle(0% at 100% 0%);
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    transition: 0.5s;
}

.side-bar ul{
    flex-basis: 18%;
    /*background: lightgray;*/
}

.side-bar ul li{
    list-style: none;
    margin: 45px 0px;
    transform: translateX(210px);
}

.side-bar ul li:nth-child(1){
    transition: 0.3s ease 0.1s;
}

.side-bar ul li:nth-child(2){
    transition: 0.3s ease 0.2s;
}

.side-bar ul li:nth-child(3){
    transition: 0.3s ease 0.3s;
}

.side-bar ul li:nth-child(4){
    transition: 0.3s ease 0.4s;
}
.side-bar ul li:nth-child(5){
    transition: 0.3s ease 0.5s;
}

.side-bar ul li a{
    text-decoration: none;
    color: #aaabad;
    font-size: 11px;
}

.side-bar ul li a:hover{
    color: white;
    font-size: 13px;
    transition: 0.3s;
}

.side-bar-js {
    clip-path: circle(45% at 100% 0%);
}

.sideBarList-js{
    transform: translateX(0px) !important;
}

.footer-text {
    font-family:  'Press Start 2P', cursive;
    color: #aaabad;
    font-size: small;
    position:absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
}

.searchbar{
    position: absolute;
    top: 402px;
    left: 646px;
}
.search-input{
    width: 100%;
    text-align:center;
    position: static;
    
    background-color: black;
    color:rgba(147, 147, 147, 1);
    width: 310px;
    height: 29px;  
    border: none;
}
.sb-search{
    border: 2px solid #ffffff;
    background-color: black;
}

.searchButton{
    color: rgba(147, 147, 147, 1);
    border-left: 2px solid rgba(74, 74, 74, 1);
    padding-left: 22.5px;
    padding-right: 22.5px;
    text-align: center;
    text-decoration: none;
}
.searchButton :hover{
    border-left: 10px solid rgba(74, 74, 74, 1);

}

.search-results{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
    color: white;
    text-align: center;
}

.search-results-item{
    background-color: black;
    padding: 10px;
    border-top: 2px solid rgba(74, 74, 74, 1);
}